##################
#	STANDARD
##################
.DS_Store
*/.DS_Store
*/*.swp
*/*.swo
*.swp
*.swo


##################
#	PROG SPEC
##################
.idea
*/.idea


##################
#	PROJECT SPEC
##################
bin/*
tests/*
